.junbotron {
  background-color: #fcc203;
  color: black;
  height: 150px;
  padding-top: 60px;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #fcc203;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-r {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-ver {
  width: 50%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

/*# sourceMappingURL=styles.css.map */
