$yellow: #fcc203;
$green:#03fc56;
$red:#fc1c03;

@mixin margenes($top,$bottom){
	margin-top:$top;
	margin-bottom:$bottom;
}

.junbotron{
	background-color: $yellow;
	color:black;
	height: 150px;
	padding-top: 60px;
	@include margenes(50px,0px);
}

footer{
	padding:10px 10px 0 10px;
	background-color: $yellow;
	margin-bottom: 0px;
	margin-top: 10px;
	@include margenes(10px,0px);
}

.card-r{
	flex: 1 200px;
	@include margenes(10px,0px);
}

.btn-ver{
	width: 50%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}